body {
  background-color: black;
}

/* how big is the card */
#card-table {
  width: 800px;
  margin: 90px auto;
  padding-bottom: 40%;
}

/* inside the card styling */
.card {
  width: 159px;
  height: 140px;
  float: left;
  padding: 8% 5%;
  margin: 5px;
  color: white;
  font-weight: bold;
  font-family: arial;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  text-align: center;
  background-color: #FF0000;
}

/* video sizing */
.video {
  width: 160px;
  height: 160px;
  padding-right: 10%;
}

/* instructions block */
#instructions {
  width: 750px;
  margin: 90px auto;
  color: white;
  font-family: arial;
  font-size: 20px;
}

/* logo DoomTube */
#logo {
  width: 600px;
}

/* styling the score */
#score{
  font-size:27px;
  font-family: arial;
}
