/*********************************************

Raving Redactionist CSS.

**********************************************/

/* Just some general syling of the page for aesthetics. Personal choice. */
body {
  font-family: Arial, monospace;
  width: 800px;
  margin-left: 100px;
  margin-top: 100px;
  background-color: black;
}

/* Redacted elements need to be blanked out */
.redacted {
  background-color: white; /* white background */
  color: transparent; /* Invisible text so it can't be selected and seen! */
  text-decoration: none; /* Simple text */
}

/* Revealed elements need to be highlighted because it's a disaster! */
.revealed {
  background-color: transparent; /* No background */
  text-decoration: underline; /* underlined! */
  color: red; /* Emergency! */
}
/*secrets found that will highlighted*/
.found{
  background-color: #ffe500;
  color: black;
  text-decoration: none;
}
/*set the text white (black bg on white text*/
p{
  color: white;
}
